.cards {
  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 20px;
  grid-gap: 40px;
}

.card {
  background-color: #1c1b29;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
  height: auto;
}

.container {
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

img {
  width: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
}

.container:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  opacity: 0.7;
}

.details {
  padding: 20px 10px;
}

.details>h3 {
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0 15px 0;
}

.details>p {
  color: #a0a0a0;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}

button {
    font-size: 0.7em;
    width: 9em;
    background: #1c1b29;
    color: #fff;
    border: 0.2rem solid #fff;
    padding: 0.85em 0.75em;
    margin: 1rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 0.2em;
  }

  button[class^="slide"]::after {
    transition: all 0.35s;
  }
  button[class^="slide"]:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.35s;
  }
  button:hover {
    color: #1c1b29;
  }
  button::after {
    content: "";
    background: #ecf0f1;
    position: absolute;
    z-index: -1;
    padding: 0.85em 0.75em;
    display: block;
  }

  button.slide_from_left::after {
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
  }