.app-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  .header {
    width: 100%;
    flex-shrink: 0;
  }
  
  .content {
    flex-grow: 1;
  }
  
  .footer{
    flex-shrink: 0;
  }  
}

